*,
*::after,
*::before{
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
  background: #424242;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 50px;
  height: 100%;
  justify-content: space-around;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 170%;
/* or 24px */


color: #333333;
}

.checkboxes{
  display: inline-block;
  background: #fff;
  padding: 30px;
  margin: 0 20px;
  border-radius: 20px;
}
ul{
  list-style: none;
}

.checkbox-list{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}
.chekboxLabel{
  cursor: pointer;
  position: relative;
  padding-left: 24px;

}
.checkbox-list >li{
  margin-bottom: 20px;
}
.checkbox-list >li:last-child{
  margin-bottom: 0;
}
.checkboxes>p{
  margin-bottom: 20px;
}
.checkbox{
  display: none;
}
.checkbox + span{
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 1px solid #CCB26E;
  border-radius: 3px;
  margin: 0 auto;
}
.checkbox + span::after{
  content:url("../img/G.svg");
  display: block;
  margin: auto;
  position: absolute;
  top: -4px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  text-align: center;
}
.checkbox:checked + span::after{
  opacity: 1;
}
.choices{
  width: 176px;
  position: relative;
}
.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable{
  padding-right: 0;

}
.choices__list--dropdown, .choices__list[aria-expanded]{
  transform: translate(0, -7px);
}
.choices__inner{
  min-height: 39px;
  width: auto;
}

.choices__list--single .choices__item{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #333333;
}

.choices[data-type*=select-one] .choices__inner {
  display: flex;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices[data-type*="select-one"]::after {
  content: '';
  width: 13px;
    height: 8px;
  z-index: 3;
  background-image: url('../img/select.svg');
  background-repeat: no-repeat;
  border: none;
  background-position:left;
}
.choices[data-type*="select-one"].is-open::after{
  background-image: url("../img/select_orange.svg");
  margin: 0;
}
.choices__list--single {
margin-top: auto;
margin-bottom: auto;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded]{
  padding-top: 7px;
  border: 1px solid #CCB26E;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius:10px ;
  width: 174px;
}

.is-open>.choices__inner{
  border: 1px solid #CCB26E;

}
[class*="ground-pane"]{
  filter: grayscale(1);
}

[class*="copyright"]{
  display: none;
}
.i_spokoen{
  box-sizing: border-box;
  width: 399px;
  height: 310px;
  padding: 20px 30px 0px 30px;
  background: #fff;
}
.simplebar-scrollbar::before{
  background: #CCB26E;
}

.tooltip {
  width: 375px;
  height: 160px;
  background: #fff;
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
.tooltip__content {
  display: inline-block;
}
.tooltip__marker {
  fill: #bcbcbc;
  position: relative;
  display: inline-block;
  transition: fill .2s ease-in-out;
}
.tooltip__svg::before{
  content: "Глава 2, страница 176";
  position: absolute;
  bottom: 150%;
  right: -450%;
  display: none;
  width:max-content;
  max-width: 163px;
  padding: 8px 15px;
  color: #fff;
  background: #666;
}
.tooltip__marker:hover{
  fill: #CCB26E;
}
.tooltip__svg:hover::before{
  display: block;
}

.popup{
  display: inline-block;
  position: relative;
}
.tooltip__marker:hover + .popup__text{
  display: block;
  top: 0;
  transform: translate(-46%,-150%);
  position: absolute;
  width:max-content;
  max-width: 163px;
  padding: 8px 15px;
  color: #fff;
  background: #666;
}
.tooltip__svg:hover::after{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 50%;
  background: #666;
  transform: translate(-50%, -150%) rotate(45deg);
}
.popup__text {
  display: none;
}

.form {
  box-sizing: border-box;
  width: 440px;
  background: rgba(0,0,0,0.4);
  padding: 20px 30px;

  border-radius: 10px;
}
.reverse{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 14px;
}
.reverse:last-child{
  margin-bottom: 0;
}
.input {
  padding: 24px 20px;
  border-radius: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
}
.just-validate-error-field{
 border: 1px solid #FF5C00;

}
.btn{
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding: 19px 53px;
  background: #FF5C00;
  border-radius: 10px;
  color: #FFFFFF;
}
.margin{
  margin-bottom: 500px;
}
.margin:last-child{
  margin: 0;
}